.QuestionScreen-list-and-button{
  display: flex;
  flex-direction: column;
}

.Score-calculate{
  display: flex;
  margin: auto;
  flex-grow: 1;
  padding: 20px;
  align-items: center;
  text-align: center;
}

.Calculate-button{
  display: flex;
  flex-grow: 1;
  padding: 20px;
  font-family: "Helvetica" sans-serif;
  font-weight: 600;
  margin: auto;
  text-align: center;
  font-size: 25px;
  outline: none;
  background-color: white;
  border-radius: 10px;
  border: 3px solid black;

}

.Calculate-button span{
  margin: auto;
}
